<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Estudiante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="nombres" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="apellidos" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota1</ion-label>
        <ion-input formControlName="nota1" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota2</ion-label>
        <ion-input formControlName="nota2" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota3</ion-label>
        <ion-input formControlName="nota3" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota4</ion-label>
        <ion-input formControlName="nota4" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota5</ion-label>
        <ion-input formControlName="nota5" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Crear Estudiante</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
