<ion-header>
  <ion-toolbar>
    <ion-title>
      Doctors App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Estudiantes
    </ion-list-header>
    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.nombres}}
        </h5>
        <p>
          <ion-icon name="apellido"></ion-icon> {{booking.apellidos}}
        </p>
        <p>
          <ion-icon name="nota1"></ion-icon> {{booking.nota1}}
        </p>
        <p>
          <ion-icon name="nota2"></ion-icon> {{booking.nota2}}
        </p>
        <p>
          <ion-icon name="nota3"></ion-icon> {{booking.nota3}}
        </p>
        <p>
          <ion-icon name="nota4"></ion-icon> {{booking.nota4}}
        </p>
        <p>
          <ion-icon name="nota5"></ion-icon> {{booking.nota5}}
        </p>

      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/editar-estudiante/', booking.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
